.indent {
  margin-right: 7%;
  margin-left: 10%;
  padding-right: 5px;
  padding-left: 5px;
  border: 3px groove #cccc00;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-style: italic;
  font-weight: bold;
  font-variant: small-caps;
  color: #060;
}

#head {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  font-variant: small-caps;
  color: #cccc00;
}
.align_center {
  text-align: center;
}
body {
  background-image: url("../img/bandbkgrnd.jpg");
}
